---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot');
    src: url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.woff') format('woff'),
         url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.ttf') format('truetype'),
         url('/fonts/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Aleo';
    src: url('/fonts/aleo_light_macroman/Aleo-Light-webfont.eot');
    src: url('/fonts/aleo_light_macroman/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aleo_light_macroman/Aleo-Light-webfont.woff') format('woff'),
         url('/fonts/aleo_light_macroman/Aleo-Light-webfont.ttf') format('truetype'),
         url('/fonts/aleo_light_macroman/Aleo-Light-webfont.svg#aleolight') format('svg');
    font-weight: 300;
    font-style: normal;

}


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 32px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
